servers:
 - !!python/tuple [irc.freenode.net, 6667]
channels: ['#php-fr']
nickname: &nickname
  "apib"
quitmsg: "Does not compute"
owners: ['xrogaan']
password: My secret password that no ones know.

bitly: &BITLY
  login: mylogin
  apikey: 'R_apikey'

#
# The argument 'args' only require 3 minus.
# > And the Lord spake, saying, 'First shalt thou take out the Holy Pin.
# > Then, shalt thou count to three, no more, no less. Three shalt be the
# > number thou shalt count, and the number of the counting shalt be three.
# > Four shalt thou not count, nor either count thou two, excepting that thou
# > then proceed to three.'
# -- Armaments, Chapter Two, Verses Nine to Twenty-One (a bit skipped).
#
# The spaces are also very important !
#
modules:
- name: feedreader
  subname: phpBBReader
  args: !!python/tuple
  - 'http://forum.naev.org/feed.php' # url to feed off
  - 300                          # time between parses
  - channel: '#naev'             # the channel to send notifications
    ignore: []                   # a list of forum id to ignore sample: [1,2,3]
    handle: scheduled            # This do not need to be changed
    bitly: *BITLY                # This is only to be set if you want to use
                                 # bitly. Remove that line or comment it if you 
                                 # do not want to use bitly services.
# Here only matters the channel name and the nickname (who is the nickname of
# the bot).
- name: combatmoves
  subname: kungfu
  args: !!python/tuple
  - handle: to_dispatch
    nickname: *nickname
    channel: '#naev'                            

